page-rider-pop{
    ion-list{
        margin-bottom: 0 !important;
        background: transparent !important;
    }
    .item-md{
        background-color: rgba(106, 0, 129, 0.8705882352941177);
        color: white;
        text-align: right;
        .item-inner{
            border-bottom: 0 !important;
        }
    }
}